.employeeListContainer {
  padding: 20px;
  margin-left: 600px;
}

.employeeTable {
  border-collapse: collapse;
}

.employeeTable th, .employeeTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employeeTable th {
  background-color: #f2f2f2;
}